body, #container, #content, #header, #nav {
  width: 700px;
}
body {
  background-color: #cccccc;
  font: 11px Verdana;
  margin: 10px 419px 0 419px;
}
#container {
  margin: inherit;
  text-align: justify;
  background-color: #fff;
  margin: auto;
}
p:first-letter {
  color: blue;
  font-weight: bold;
  font-size: 38px;
  font-family: Times New Roman;
}
#content {
  height: 700px;
  float: left;
  background-color: #fff;
  padding: 0 0;
}
#header {
  height: 50px;
  background-color: #b0b0b0;
}
#nav {
  height: 25px;
} 
ul {
 margin: 0;
 padding: 0;
 list-style: none;
 text-transform: uppercase; 
}
li {
  display: inline;
  float: left;
} 
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: #333;
  text-decoration: none;
}
a:hover {
    background-position: right bottom;
    color: #333;
    font-weight: bold;
}
a:aktive {
  color: black;
    font-weight: bold;
    text-decoration: underline;
}
h1 {
  margin: 0;
  padding: 14px 38px;
}
h3 {
  font-weight: bold;
  padding-left: 10px;
}
a {
  padding: 0 10px;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
  float: left;
  display: block;
  background-image: url(images/nb.gif);
  background-repeat: repeat-x;
}
.box {
  width: 680px;
  margin-left: 10px;
  position: relative;
  top: 10px;
  left: 10px;
}

