body {
  background-color: #cccccc;
  font: 11px Verdana;
  margin: 10px 419px 0 419px;
}
#container {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 675px;
  text-align: justify;
  background-color: #fff;
  margin: auto;
}
#content {
  width: 700px;
  height: 600px;
  float: left;
  background-color: #fff;
  padding: 0 0;
}
#header {
  height: 50px;
  background-color: #b0b0b0;
}
#nav {
  width: 700px;
  height: 25px;
} 
ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style: none;
  text-transform: uppercase; 
}
li {
  display: inline;
  float: left;
} 
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: #333;
  text-decoration: none;
}
a:hover {
    background-position: left bottom;
    color: #333;
}
a:active {
  color: black;
    text-decoration: underline;
}
h1 {
  margin: 0;
  padding: 14px 38px;
}
h3 {
  font-weight: bold;
  padding-left: 10px;
}
a {
  padding: 0 10px;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
  float: left;
  display: inline;
  background-image: url(images/nb.gif);
  background-repeat: repeat-x;
}
.box {
  width: 680px;
  margin-left: 10px;
  position: relative;
  top: 10px;
  left: 10px;
}
.foto2stick {
  position: relative;
  z-index: 10;
  padding: 0;
  top: -103px;
  left: 270px;
}
div ul li a#end {
  padding-right: 16px;
}
