body {
  background-color: #cccccc;
  font: 11px Verdana;
  margin: 8px 0;
}
#container {
  margin-left: auto;
  margin-right: auto;
  width: 720px;
  text-align: justify;
  background-color: #fff;
  margin: auto;
}
p:first-letter {
  color: blue;
  font-weight: bold;
  font-size: 38px;
  font-family: Times New Roman;
}
#content {
  width: 551px;
  height: 300px;
  float: left;
  background-color: #fff;
  padding: 0 10px;
}
#header {
  height: 50px;
  background-color: #b0b0b0;
}
ul {
 margin: 0;
 padding: 0;
 width: 720px;
 list-style: none;
 text-transform: uppercase; 
}
li {
  display: inline;
  float: left;
} 
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: #333;
  text-decoration: none;
}
a:hover {
    background-position: right bottom;
    color: #333;
    font-weight: bold;
}
a:aktive {
  color: black;
    font-weight: bold;
    text-decoration: underline;
}
h1 {
  margin: 0;
  padding: 14px 38px;
}
h3 {
  font-weight: bold;
}
a {
  padding: 0 10px;
  line-height: 25px;
  text-decoration: none;
  color: #fff;
  float: left;
  display: block;
  background-image: url(images/nb.gif);
  background-repeat: repeat-x;
}